*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(21, 124, 21);
    color: black;
}

.cabecalho{
    background-color: rgb(36, 151, 36);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 5px;
}

.cabecalho-imagem{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.cabecalho-subtitulo{
    font-size: 22px;
    color: aliceblue;
}

.cabecalho-titulo{
    color: black;
}

.cabecalho-lista{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.cabecalho-lista-item{
    display: block;
}

.cabecalho a{
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 6px 8px;
    border-radius: 10px;
}

.descrisao h2,
.contato h2{
    font-size: clamp;
    line-height: 1.2;
    color: aliceblue;
}

.secao{
    max-width: 120px;
}